.max-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.max-container div{
  width: 350px;
  background-color: chocolate;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

.max-container button{
  padding: 5px 15px;
  font-size: 1.2em;
}